html,
body,
div,
span,
object,
iframe,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
* {
  box-sizing: border-box;
}

#hat {
  display: flex;
  background-image: url(./images/headerback.png);
  align-items: self-start;  
  height: 15%;
  position: fixed;
  z-index: 1;
  width: 100%;  
  top: 0;
}

#myVideo {
  display:  block;
  position: relative;
  width: 100%; 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#mama {
  background-color: aquamarine;
}

