* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero {
  width: 100%;
  min-height: 100vh;
 
  color: wheat;
}

.header {
  width: auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.first-flyer {
  display: flex;
  flex-direction: column;
  background-image: url(clown2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 100%;
  position: relative;
}

.main-name {
  position: absolute;
  width: 100%;
  padding: 2%;
}
.nazva1 {
  width: 100%;
}

.baloon-play {
  position: absolute;
  width: 20%;
  height: auto;
  margin-bottom: -19%;
  margin-left: 5%;
  bottom: 0;
  cursor: pointer;
}

.pic-baloon {
  width: 100%;
}
.navig {
  display: flex;
  background: rgba(61, 174, 219, 0.73);
  
  width: 100%;
  padding: 10px 10%;
  align-items: center;
  justify-content: space-between;
  z-index: 7;
}
.navig li {
  font-family: "Kablammo", cursive;
  list-style: none;
}
.navig li a {
  text-decoration: none;
}
.menu {
  position: relative;
  font-family: "Kablammo", cursive;
  cursor: pointer;
}

.sub-menu-wrap {
  display: flex;
  position: absolute;
  top: 100%;
  left: 5%;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: rgba(61, 174, 219, 0.73);;
  
  padding: 10px;
}
.sub-info {
  align-content: center;
}

.fixed-background {
  display: flex;
  position: fixed;
top: 0%;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.construction {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  position: relative;
  width: 80%;
  z-index: 3;
}

.fixed-background h2 {
  padding-top: 40%;
  font-family: "Kablammo", cursive;

}
.temp-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  
  
}
.temp {
background: rgba(61, 174, 219, 0.3);
}
.temp img {
  width: 100%;
  opacity: 0.2;
}
@media screen and (max-width: 430px) {
  .baloon-play {
    width: 25%;
    margin-bottom: -10%;
    scale: 1.5;
  }
}
